.heading {
  font-size: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
h1 img {
  margin-right:2rem;
}
nav {
  border-bottom: 1px solid #3d3d3d;
}
.Codemirror .c-s-ambiance {
  font-size: 1rem!important;
  height: 200px;
}
input[type="checkbox"] {
  margin-right: 1rem;
}
input[type="submit"] {
  display: block;
}
input[type="submit"]:hover {
  background: lightblue;
}
figure#tree {
  float:left;
  width:-webkit-fill-available;
  overflow-y: auto;
  border: 1px solid #bbb;
  padding: 1rem;
}
.code, textarea {
  background-color: darkslategray;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}
h4 {
  font-weight: bold;
}
textarea {
  height: 400px;

}
.code .diff--remove {
  color: red;
}
.code .diff--add {
  color: lawngreen;
}
